@model PrivateSquareWeb.Models.HeaderPartialModel


<script type="text/javascript">
    var Logout = function () {

        $.ajax({
            url: "../../WebLogin/Logout",
            type: "Get",
            success: function (result) {
                if (result == true) {
                    window.onload = function () {
                        window.history.forward();
                    };
                    window.onunload = function () {
                        if (ViewBag.MyOrders == null) {
                            window.history.forward();
                        }
                        else {
                        }
                    };
                    Response.Redirect("../../WebLogin/Index");
                }
                else {
                }
            },
            error: function (error) {
                //console.log('error');
            }
        })
    }
</script>
<header class="header" data-sticky="true">
    <nav class="navigation">
        <div class="container-fluid">
            <div class="left">
                <div class="header__logo  spc-mrg-tp-18 ">
                    <a class="ps-logo" href="/WebHome/Index"><img src="~/WebSiteTheme/images/aman.svg" alt=""></a>
                </div>
            </div>

            <div class="center mt-8">

                @using (Html.BeginForm("SearchBar", "WebHome", FormMethod.Post, new { @class = "search-frm" }))
                {
                    <div class="col-lg-12 pull-left">
                        @Html.TextBoxFor(m => m.SearchBarText, new { @class = "form-control brder_rdius", placeholder = "Search Product…", value = "TxtSearch", id = "TxtSearch" })
                        <button class="search-top"><i class="ps-icon-search"></i></button>
                        <div class="row" id="SearchResults" style="display:none">

                        </div>
                    </div>
                }
            </div>

            <div class="right">
                @*<table>
                    <tr>
                        <td>*@
                <div>
                    <div>
                        <div class="dropdown">
                            <div class="header__actions pull-left">
                                @{ if (@Model.UserId != 0)

                                    {
                                        <div class="btn-group ps-dropdown spc-mrg-tp-lft ">
                                            @{
                                                if (Model.RegisterType != "UNV")
                                                {

                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.UserName <img src="~/WebSiteTheme/images/angle-arrow-down.svg" width="10" /></a>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">[Unverified]</button>
                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        @Model.UserName  <img src="~/WebSiteTheme/images/angle-arrow-down.svg" width="10" />
                                                    </a>
                                                }
                                            }
                                            <ul class="dropdown-menu dropdown-content nag_l">
                                                <li><a href="~/WebHome/MyOrders">My Orders</a></li>
                                                <li><a href="~/WebHome/WishList">My Wishlist</a></li>
                                                <li><a href="~/ChangePassword/WebIndex">Change Password</a></li>
                                                <li><a href="/WebLogin/Logout">Log Out</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else if (@Model.UserId == 0)
                                    {
                                        @*<table>
                                                <tr>
                                                    <td>
                                                        <img src="~/WebSiteTheme/images/location.svg" />
                                                    </td>
                                                    <td>
                                                    <p>Deliver To <br>MajriChok</p>
                                                    </td>
                                                </tr>
                                            </table>*@

                                        <a href="/WebLogin/Index?url=@Request.Url.AbsoluteUri.ToString()">


                                            <img src="~/WebSiteTheme/images/user.svg" />@*<div><span class="full-width">Deliver to</span><span>majri chown</span></div>*@
                                        </a>

                                        <a href="/WebLogin/Index?url=@Request.Url.AbsoluteUri.ToString()">


                                            <img src="~/WebSiteTheme/images/user.svg" />Login & Regiser
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*</td>
                    <td>*@
                <div class="menu-toggle"><span></span></div>
                <div class="ps-cart" id="Cartcontent">
                    <div id="CartCount">
                        @{
                            if (Model.CartItemCount != 0)
                            {
                                <div id="UpdateCartItemCount">
                                    <a class="ps-cart__toggle" href="~/ViewCart/ViewCart"><span><i>@Model.CartItemCount</i></span><i class="ps-icon-cart"></i></a>
                                </div>
                            }
                            else
                            {
                                <a class="ps-cart__toggle" href="#"><i class="ps-icon-cart"></i>Cart</a>
                            }
                        }

                    </div>
                    <div class="ps-cart__listing">
                        <div id="refreshThisDivWhenProductIsAddedToCart_50" class="nag_add_cartheader">
                            <div id="CartList2">
                                <div id="CartList">
                                    @{ int index = 0;
                                        foreach (var item in ViewBag.AddToCart)
                                        {
                                            <div class="ps-cart-item">
                                                <a class="ps-cart-item__close" onclick="DeleteItem(@index)"></a>
                                                <div class="ps-cart-item__thumbnail">
                                                    <a href="/WebHome/ProductDetail/@(Constant.EncodeNumber(int.Parse((item.ProductId).ToString())))"></a>
                                                    <img src="~/DocImg/@item.ImageName" alt="Image">
                                                </div>
                                                <div class="ps-cart-item__content">
                                                    <a class="ps-cart-item__title" href="/WebHome/ProductDetail/@(Constant.EncodeNumber(int.Parse((item.ProductId).ToString())))"> @item.ProductName</a>
                                                    <p><span>Quantity:<i> @item.Qty</i></span><span>Total:<i>₹ @item.Amount</i></span></p>
                                                </div>
                                            </div>
                                            index++;
                                        }
                                    }

                                </div>
                            </div>
                            <div class="ps-cart__total" id="CartTotal">
                                @{

                                    if (Model.CartItemCount != 0)
                                    {
                                        <p>Number of items:<span>@Model.CartItemCount</span></p>
                                        <p>Item Total:<span>₹ @ViewBag.TotalAmount</span></p>
                                    }
                                    else
                                    {
                                        <div class="ps-cart__total">
                                            <p>YOUR SHOPPING BAG IS EMPTY</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div id="CheckoutDiv">
                                @{

                                    if (Model.CartItemCount != 0)
                                    {
                                        <div class="ps-cart__footer"><a class="ps-btn" href="/Checkout/Index">Check out<i class="ps-icon-arrow-left"></i></a></div>
                                    }
                                    else
                                    {

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @*</td>
                        </tr>
                    </table>*@

            </div>
        </div>
    </nav>

    <aside class="ps-sidebar" data-mh="product-page">
        <aside class="spc-mrg-padding  ps-widget--category">
            @*<div class="ps-widget__header cate_back">
                    <h3>Category</h3>
                </div>*@
            <div class="ps-widget__content">
                <ul class="ps-list--checked-1 ">
                    @{
                        foreach (var Cat in ViewBag.ProductCatList)
                        {
                            if (Cat.ParentCatId == 0)
                            {

                                <li class="nbc-main-category">

                                    <a onclick="checkothermenuactiveornot(@Cat.Id)" id="@Cat.Id" href="javascript:void(0);" data-toggle="collapse" data-target="#subcategories@(Cat.Id)" class="cate-main-list">@Cat.Name </a>
                                    <ul class="ps-list--checked-1 sub_cate" style="padding-left: 10px;" id="sidebarsubcategories">
                                        @foreach (var subcat in ViewBag.ProductCatList)
                                        {
                                            if (subcat.ParentCatId == Cat.Id)
                                            {
                                                <li><a id="@subcat.Id" href="~/ProductCatWise/Index/@Constant.EncodeNumber(int.Parse((subcat.Id).ToString()))"> @subcat.Name </a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }

                    }
                </ul>
            </div>
        </aside>
    </aside>

</header>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter the OTP sent your Email to verify your account</h4>
            </div>
            <div class="modal-body">
                <input id="otpText" type="text" placeholder="ENTER YOUR OTP " />
                <label id="otplabel" style="color:red"></label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="otp()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var otp = function () {

        var otp = document.getElementById('otpText').value;
        if (otp == "") {
            otplabel.innerText = "Otp Required";
            return;

        }

        $.ajax({
            url: "../../WebLogin/Otp",
            type: "POST",

            data: {

                "Otp":otp,
                "userid":@Model.UserId
            },
            success: function (result)
            {
                console.log(JSON.parse(result));
                var response = JSON.parse(result);
                console.log(response.Id);
                if (response.Id == 1)
                {

                    otplabel.innerText = "YOUR ACCOUNT VERIFIED";
                    window.location.reload();
                }
                else {
                    otplabel.innerText = "Otp Not matched";

                    return;
                }

            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    var Sendurl = function () {
        var productcatid = location.pathname.toString();
        $.ajax({
            url: "../../WebLogin/Index",
            //type: "POST",

            data: {


                "url": productcatid

            }

        });
    }
</script>
<script>
    document.getElementById("TxtSearch").addEventListener("keypress", function () {
        var searchtext = $('#TxtSearch').val();
        //console.log(searchtext);
        if (searchtext.length > 2) {
            $.ajax({
                url: "../../WebHome/SearchSuggestions",
                data: {
                    "Prefix": searchtext
                },
                success: function (result) {
                    //SearchResults
                    $("#SearchResults").hide();
                    $("#SearchResults").html("");
                    $("#SearchResults").html(result);
                    $("#SearchResults").toggle('slide');
                }
            });
        }

    }, false);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $("#SearchResults").mouseleave(function () {
            $(this).hide();
        });
    });
</script>



