@model PrivateSquareWeb.Models.HeaderPartialModel

<script type="text/javascript">
    var DeleteItem = function (index) {

        var divCart = document.getElementById('CartList');
        var divCartTotal = document.getElementById('CartTotal');
        var CartString = "";
        var CartTotal = "";

        $(".ps-loading").addClass("loaded");
        $.ajax({
            url: "../../WebsiteHeader/RemoveToCart",
            type: "POST",

            data: {
                index: index
            },
            success: function (result) {
                var JsonResponse = JSON.parse(result);
                
                var ProductName = "";
                var Qty = "";
                var ImageName = "";
                var TotalAmount = 0;
                for (var i = 0; i < JsonResponse.length; i++) {


                    ProductName = JsonResponse[i].ProductName;
                    Qty = JsonResponse[i].Qty;
                    TotalAmount = Number(TotalAmount) + Number(JsonResponse[i].Amount);
                    ImageName = JsonResponse[i].ImageName;
                    console.log('~/DocImg/' + ImageName);
                    CartString = CartString + '<div class="ps-cart-item"><a class="ps-cart-item__close" onclick="DeleteItem(' + i + ')"></a>' +
                        '<div class="ps-cart-item__thumbnail">' +
                        '<a href="/WebHome/ProductDetail/' + JsonResponse[i].ProductId + '"></a>' +
                        '<img src="../../DocImg/' + ImageName + '" alt="">' +
                        '</div>' +
                        '<div class="ps-cart-item__content">' +
                        '<a class="ps-cart-item__title" href="/WebHome/ProductDetail/' + JsonResponse[i].ProductId + '">' + JsonResponse[i].ProductName + '</a>' +
                        '<p><span>Quantity:<i>' + JsonResponse[i].Qty + '</i></span><span>Total:<i>₹ ' + JsonResponse[i].Amount + '</i></span></p></div>' +
                        '</div>';
                }
                if (JsonResponse.length == null || JsonResponse.length == 0) {

                }
                if (JsonResponse.length > 0) {


                    CartTotal = CartTotal + "<p>Number of items:<span>" + JsonResponse.length + "</span></p>" +
                        "<p>Item Total:<span>₹" + TotalAmount + "</span></p>";

                }

                divCart.innerHTML = CartString;
                divCartTotal.innerHTML = CartTotal;
                $("#CartCount").load(location.href + ' #CartCount');
                $("body").addClass("loaded");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


</script>
<script type="text/javascript">
    var Logout = function () {
      
        $.ajax({
            url: "../../WebLogin/Logout",
            type: "Get",
            success: function (result) {
                if (result == true) {
                    window.onload = function () {
                        window.history.forward();
                    };
                    window.onunload = function () {
                        if (ViewBag.MyOrders == null) {
                            window.history.forward();
                        }
                        else {

                        }
                    };
                    Response.Redirect("../../WebLogin/Index");
                }

                else {

                }
            },
            error: function (error) {
                //console.log('error');
            }

        })


    }
</script>


<div class="header--sidebar"></div>
<header class="header" data-sticky="true">
    <div class="header__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                    @*<p>SCO 68, Swastik Vihar, Sector 5 MDC, Panchkula, Haryana 134114</p>*@
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="dropdown">
                        <div class="header__actions">
                            @{ if (@Model.UserId != 0)

                                {
                                    <div class="btn-group ps-dropdown">
                                        @{
                                            if (Model.RegisterType != "UNV")
                                            {

                                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.UserName<i class="fa fa-angle-down"></i></a>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">[Unverified]</button>
                                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.UserName<i class="fa fa-angle-down"></i></a>
                                            }
                                        }
                                        <ul class="dropdown-menu dropdown-content">
                                            <li><a href="~/WebHome/MyOrders">My Orders</a></li>
                                            <li><a href="~/WebHome/WishList">My Wishlist</a></li>
                                            <li><a href="~/ChangePassword/WebIndex">Change Password</a></li>
                                            <li><a href="/WebLogin/Logout">Log Out</a></li>
                                        </ul>
                                    </div>
                                }
                                else if (@Model.UserId == 0)
                                {

                                    @*<a onclick="Sendurl()">Login & Regiser</a>*@

                                    <a href="/WebLogin/Index?url=@Request.Url.AbsoluteUri.ToString()">Login & Regiser</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="left">
                <div class="header__logo"><a class="ps-logo" href="/WebHome/Index"><img src="~/WebSiteTheme/images/logo.png" alt=""></a></div>
            </div>

            <div class="center mt-8">

                @using (Html.BeginForm("SearchBar", "WebHome", FormMethod.Post, new { @class = "search-frm" }))
                {
                    <div class="col-lg-12 pull-left">
                        @Html.TextBoxFor(m => m.SearchBarText, new { @class = "form-control", placeholder = "Search Product…", value = "TxtSearch", id = "TxtSearch" })
                        <button class="search-top"><i class="ps-icon-search"></i></button>
                    </div>
                }
            </div>
            <div class="right">
                <div class="menu-toggle"><span></span></div>
                <div class="ps-cart" id="Cartcontent">
                    <div id="CartCount">
                        @{
                            if (Model.CartItemCount != 0)
                            {
                                <a class="ps-cart__toggle" href="~/ViewCart/ViewCart"><span><i>@Model.CartItemCount</i></span><i class="ps-icon-cart"></i></a>
                            }
                            else
                            {
                                <a class="ps-cart__toggle" href="#"><i class="ps-icon-cart"></i></a>
                            }
                        }

                    </div>
                    <div class="ps-cart__listing">

                        <div class="ps-cart__content">
                            <div id="CartList">
                                @{ int index = 0;
                                    foreach (var item in ViewBag.AddToCart)
                                    {

                                        <div class="ps-cart-item">

                                            <a class="ps-cart-item__close" onclick="DeleteItem(@index)"></a>

                                            <div class="ps-cart-item__thumbnail">
                                                <a href="/WebHome/ProductDetail/@item.ProductId"></a>
                                                <img src="~/DocImg/@item.ImageName" alt="Image">
                                            </div>
                                            <div class="ps-cart-item__content">

                                                <a class="ps-cart-item__title" href="/WebHome/ProductDetail/@item.ProductId"> @item.ProductName</a>

                                                <p><span>Quantity:<i> @item.Qty</i></span><span>Total:<i>₹ @item.Amount</i></span></p>

                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>

                        <div class="ps-cart__total" id="CartTotal">
                            @{

                                if (Model.CartItemCount != 0)
                                {
                                    <p>Number of items:<span>@Model.CartItemCount</span></p>
                                    <p>Item Total:<span>₹ @ViewBag.TotalAmount</span></p>
                                }
                                else
                                {
                                    <p>YOUR SHOPPING BAG IS EMPTY</p>
                                }
                            }
                        </div>
                        @{

                            if (Model.CartItemCount != 0)
                            {
                                <div class="ps-cart__footer"><a class="ps-btn" href="/Checkout/Index">Check out<i class="ps-icon-arrow-left"></i></a></div>
                            }
                        }
                    </div>

                </div>





            </div>
        </div>
    </nav>
</header>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please enter the OTP sent your Email to verify your account</h4>
            </div>
            <div class="modal-body">
                <input id="otpText" type="text" placeholder="ENTER YOUR OTP " />
                <label id="otplabel" style="color:red"></label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="otp()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var otp = function () {

        var otp = document.getElementById('otpText').value;
        if (otp == "") {
            otplabel.innerText = "Otp Required";
            return;

        }


        $.ajax({
            url: "../../WebLogin/Otp",
            type: "POST",

            data: {

                "Otp":otp,
                "userid":@Model.UserId
            },
            success: function (result)
            {
                debugger
                //var returnedData = JSON.parse(result.Response.innerText);
                console.log(JSON.parse(result));
                var response = JSON.parse(result);
                console.log(response.Id);
                if (response.Id == 1)
                {

                    otplabel.innerText = "YOUR ACCOUNT VERIFIED";
                    //$("#myModal").hide();
                    window.location.reload();
                }
                else {
                    otplabel.innerText = "Otp Not matched";
                    //$("#myModal").modal.show();
                    return;
                }

            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    var Sendurl = function () {
        debugger
        var productcatid = location.pathname.toString();
        $.ajax({
            url: "../../WebLogin/Index",
            //type: "POST",

            data: {

                "url": productcatid

            }

        });
    }
</script>




